body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: yellow;
}

.dropdown {
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
}

.subCategorySelect {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 1em;
}

input {
    margin-left: 3.75em;
}

table, th, td {
    border: 1px solid white;
    padding: 3px;
    margin: auto;
    display: none;
}