body {
    color: white;
    background-image: url("./Assets/starsMotion2.jpg");
    background-size: cover;
    
}

h1 {
    text-align: center;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
}

.dropdown {
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

.subCategorySelect {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 1em;
    font-family: 'Karla', sans-serif;
}

input {
    margin-left: 2em;
}

table{
    border: 1px solid white;
    padding: 3px;
    margin: auto;
    display: none;
}
td, tr {
    border: 1px solid white;
    padding: 3px;
}

a:link {
    color: white;
}

a:visited {
    color: rgb(228, 228, 145);
}